{% extends "wiki/base.html" %}
{% load mytags %}
{% load static %}

{% block content %}

<div class="container">
    {% block contentTitle %}<h2 class="text-dark">Index</h2>{% endblock %}
    <hr/>
    <br/>
    {% if pages %}
    <ul class="list-group">
    {% for page in pages %}
    <li class="list-group-item"><a href="{% url 'wiki:detail' page.title %}">{{ page.title }}</a></li>
    {% endfor %}
    {% else %}
    <p>No pages are available.</p>
    {% endif %}
    
    </ul>
</div>

{% endblock content %}