{% extends 'wiki/base.html' %}
{% load static %}

{% block content %}
<div class="container">
        {% block contentTitle %}<h2 class="text-dark">Uploads</h2>{% endblock %}
    <hr/>
    <br/>
    <section>
    
        <form method='POST' enctype='multipart/form-data' action="{% url 'wiki:upload_page' %}">
            {% csrf_token %}
            {{form}}    
            <input type='submit' value="Upload">
        </form>
    </section> 
    <br/>
    <section>
        {% if files %}
        <ul>
        {% for file in files %}
        <li><a href="{{file.upload.url}}">{{file.upload.name}}</a></li>
        {% endfor %}
        </ul>
        {% else %}
        <p>No uploaded files</p>
        {% endif %}
    </section>
    {% endblock %}
</div>